In [3]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
#1
df=pd.read_csv('IMDB-Movie-Data.csv')
df.fillna(0)
df[['Title','Rating']]
df=df.sort_values(by="Rating",ascending=False)
print("Top 1 movie:",df['Title'][0],",Rating:",df['Rating'][0])
print("Top 2 movie:",df['Title'][1],",Rating:",df['Rating'][1])
print("Top 3 movie:",df['Title'][2],",Rating:",df['Rating'][2])
df2 = pd.DataFrame(
    {
        "The Top movies:": pd.Series([df['Title'][0],df['Title'][1],df['Title'][2]],index=[1,2,3]),
        "Rating:": pd.Series([df['Rating'][0],df['Rating'][1],df['Rating'][2]],index=[1,2,3])
    }
)
df2

Top 1 movie: The Dark Knight ,Rating: 9.0
Top 2 movie: Inception ,Rating: 8.8
Top 3 movie: Dangal ,Rating: 8.8

   The Top movies:  Rating:
1  The Dark Knight      9.0
2        Inception      8.8
3           Dangal      8.8

In [10]:
#2
I020=[line.strip("\n").split(",") for line in open("IMDB-Movie-Data.csv")]
#b1先抓出所有演員的名字陣列
I020b1=[]
#b2[i][0]=演員名字 [i[1]=所有演過的電影個別票房
I020b2=[]
for i in range(1,len(I020)):
    temp=[]
    temp=I020[i][4].split("|")
    for p in range(len(temp)):
        if str(temp[p])[0]==' ':
            temp[p]=temp[p].strip(' ')
    I020b1.append(temp)
for i in range(0,len(I020b1)):
    for j in range(0,len(I020b1[i])):
        if I020b1[i][j] in I020b2:
            ;
        else:
            if str(I020b1[i][j])[0]==' ':
                I020b1[i][j]=I020b1[i][j].strip(' ')
            else:
                I020b2.append([I020b1[i][j],[],0])
x=0
for i in range(1,len(I020)):
    I020[i][4]=I020[i][4].split("|")
    for j in range(len(I020[i][4])):
        if str(I020[i][4][j])[0]==' ':
            I020[i][4][j]=I020[i][4][j].strip(' ')
        for x in range(0,len(I020b2)):
            if I020b2[x][0]==I020[i][4][j]:
                if I020[i][9]!='':
                    I020b2[x][1].append(float(I020[i][9]))
                

for x in range(len(I020b2)):
    #print('x=',x)
    if I020b2[x][1]!=[]:
        num=len(I020b2[x][1])
        Sum=sum(I020b2[x][1])
        Avg=Sum/num
    else:
        Avg=0
    I020b2[x][2]=Avg
###再弄個b3只抓人+AVG排列即可
I020b3=[]
for i in range(len(I020b2)):
    I020b3.append([I020b2[i][0],int(I020b2[i][2])])
    #I020b3.append(I020b2[i][2])
Ans=sorted(I020b3,key=lambda I020b3:I020b3[1], reverse=True)


df = pd.DataFrame(
    {
        "The actor generating the highest average revenue": pd.Series([Ans[0][0]],index=[1]),
        "Average revenue(M)": pd.Series([Ans[0][1]],index=[1])
    }
)
df

  The actor generating the highest average revenue  Average revenue(M)
1                                     Daisy Ridley                 936

In [29]:
#3
I020=[line.strip("\n").split(",") for line in open("IMDB-Movie-Data.csv")]
for i in range(1,len(I020)):
    I020[i][4]=I020[i][4].split("|")
    for j in range(len(I020[i][4])):
        if str(I020[i][4][j])[0]==' ':
            I020[i][4][j]=I020[i][4][j].strip(' ')
I020c=[]
for i in range(1,len(I020)):
    if 'Emma Watson' in I020[i][4]:
        I020c.append([I020[i][1],I020[i][7]])
Sumc=0
for i in range(0,len(I020c)):
    Sumc+=float(I020c[i][1])
AvgRating=(Sumc/len(I020c))
df2 = pd.DataFrame(
    {
        "The average rating of movie": pd.Series([AvgRating],index=['Emma Watson'])
    }
)
df2

The average rating of Emma Watson’s movies is 7.175 points.

             The average rating of movie
Emma Watson                        7.175

In [4]:
#4
I020=[line.strip("\n").split(",") for line in open("IMDB-Movie-Data.csv")]
for i in range(1,len(I020)):
    I020[i][4]=I020[i][4].split("|")
    for j in range(len(I020[i][4])):
        if str(I020[i][4][j])[0]==' ':
            I020[i][4][j]=I020[i][4][j].strip(' ')
I020d=[]
for i in range(1,len(I020)):
    I020d.append([I020[i][3],I020[i][4]])
for i in range(len(I020d)):
    for j in range(len(I020d)):
        if I020d[j][0]==I020d[i][0] and i!=j:
            for k in range(len(I020d[j][1])):
                I020d[i][1].append(I020d[j][1][k])
    unique_set = set(I020d[i][1])
    unique_list = list(unique_set)
    I020d[i][1]=unique_list
    I020d[i].append(len(unique_list))

Ansd=sorted(I020d,key=lambda I020d:I020d[2], reverse=True)
df2 = pd.DataFrame(
    {
        "The top directors who collaborate with the most actors": pd.Series([Ansd[0][2],Ansd[8][2],Ansd[14][2]],index=[Ansd[0][0],Ansd[8][0],Ansd[14][0]])
    }
)
df2

Top-1 directors who collaborate with the most actors is Ridley Scott ,num= 28
Top-2 directors who collaborate with the most actors is M. Night Shyamalan ,num= 24
Top-3 directors who collaborate with the most actors is Danny Boyle ,num= 20

                    The top directors who collaborate with the most actors
Ridley Scott                                                       28
M. Night Shyamalan                                                 24
Danny Boyle                                                        20

In [7]:
#5
I020=[line.strip("\n").split(",") for line in open("IMDB-Movie-Data.csv")]
I020e=[]
for i in range(1,len(I020)):
    I020[i][4]=I020[i][4].split("|")
    I020[i][2]=I020[i][2].split("|")
    for j in range(len(I020[i][4])):
        if str(I020[i][4][j])[0]==' ':
            I020[i][4][j]=I020[i][4][j].strip(' ')
    for k in range(len(I020[i][4])):
        I020e.append([I020[i][4][k],I020[i][2]])
#print(I020e)
I020e1=I020e
for i in range(len(I020e)):
    for j in range(len(I020e1)):
        if I020e[i][0]==I020e1[j][0]:
            #print(I020e[i][0],I020e[j][0],i,j)
            #print(I020e[i][1],I020e1[j][1])
            I020e[i][1]+=I020e1[j][1]
            #print(I020e[i][1])
            #print(I020e[i][1])
            #for k in range(len(I020e[j][1])):
                #print(i,j,k)
                #I020e[i][1].append(I020e[j][1][k])
    #print(I020e[i][0],i)
    unique_set = set(I020e[i][1])
    unique_list = list(unique_set)
    I020e[i][1]=unique_list
    I020e[i].append(len(unique_list)) 
    #print(I020e[i])
#print(I020e) 
Anse=sorted(I020e,key=lambda I020e:I020e[2], reverse=True)
df2 = pd.DataFrame(
    {
        "The top actors playing in the most genres of movies": pd.Series([Anse[0][2],Anse[1][2],Anse[2][2]],index=[Anse[0][0],Anse[1][0],Anse[2][0]])
    }
)
df2

Top-1 actors playing in the most genres of movies is Philip Seymour Hoffman ,num= 20
Top-2 actors playing in the most genres of movies is Ben Kingsley ,num= 20
Top-3 actors playing in the most genres of movies is J.K. Simmons ,num= 20

                        The top actors playing in the most genres of movies
Philip Seymour Hoffman                                                 20
Ben Kingsley                                                           20
J.K. Simmons                                                           20

In [11]:
#6
I020=[line.strip("\n").split(",") for line in open("IMDB-Movie-Data.csv")]
I020f1=[]
for i in range(1,len(I020)):
    I020[i][4]=I020[i][4].split("|")
    I020[i][2]=I020[i][2].split("|")
    for j in range(len(I020[i][4])):
        if str(I020[i][4][j])[0]==' ':
            I020[i][4][j]=I020[i][4][j].strip(' ')
    for k in range(len(I020[i][4])):
        if I020[i][4][k] not in I020f1:
            I020f1.append(I020[i][4][k])
for i in range(len(I020f1)):
    I020f1[i]=[I020f1[i]]
    I020f1[i]=[I020f1[i],[]]
    [I020f1[i][0]]=I020f1[i][0]
#print(I020f1)
for i in range(1,len(I020)):
    for j in range(len(I020[i][4])):
        for k in range(len(I020f1)):
            if I020f1[k][0]==I020[i][4][j]:
                I020f1[k][1].append(int(I020[i][5]))
#print(I020f1)
for i in range(len(I020f1)):
    I020f1[i].append(max(I020f1[i][1])-min(I020f1[i][1]))
Ansf=sorted(I020f1,key=lambda I020f1:I020f1[2], reverse=True)
AnsF=[]
Ten=[]
for i in range(53):
    AnsF.append(Ansf[i][0])
    Ten.append(10)
df2 = pd.DataFrame(
    {
        "The top actors playing in the most genres of movies(Years)": pd.Series(Ten,index=AnsF)
    }
)
df2

                     The top actors playing in the most genres of movies(Years)
Christian Bale                                                      10
Anne Hathaway                                                       10
Hugh Jackman                                                        10
Scarlett Johansson                                                  10
Matt Damon                                                          10
Mark Wahlberg                                                       10
Brad Pitt                                                           10
Christopher Plummer                                                 10
Tom Hanks                                                           10
Bryce Dallas Howard                                                 10
Chiwetel Ejiofor                                                    10
Ben Kingsley                                                        10
Gerard Butler                                                       10
Eva Green                                                           10
Judi Dench                                                          10
Will Smith                                                          10
Jennifer Connelly                                                   10
Tom Cruise                                                          10
Emily Blunt                                                         10
Kevin Spacey                                                        10
Samuel L. Jackson                                                   10
Steve Carell                                                        10
Edward Norton                                                       10
Will Ferrell                                                        10
Denzel Washington                                                   10
Russell Crowe                                                       10
Toni Collette                                                       10
Meryl Streep                                                        10
Morgan Freeman                                                      10
Dominic West                                                        10
Owen Wilson                                                         10
Michelle Monaghan                                                   10
Jessica Biel                                                        10
Dustin Hoffman                                                      10
Ben Whishaw                                                         10
Paula Patton                                                        10
Abbie Cornish                                                       10
Johnny Depp                                                         10
Jack Davenport                                                      10
Rachel Weisz                                                        10
Ellen Burstyn                                                       10
Kang-ho Song                                                        10
Jeremy Irons                                                        10
Marion Cotillard                                                    10
Kirsten Dunst                                                       10
Jennifer Aniston                                                    10
Justin Theroux                                                      10
Maya Rudolph                                                        10
Kate Bosworth                                                       10
Audrey Tautou                                                       10
Luke Wilson                                                         10
Sacha Baron Cohen                                                   10
Bob Balaban                                                         10